body {
  background: linear-gradient(to bottom right, lightblue, #d9fa9c);
  color: #ffffff;
  font-family: Arial, sans-serif;
}

@media (max-width: 576px) {
  .container {
      padding: 1rem;
  }

  .weather-title {
      font-size: 1.5rem;
  }

  .weather-temp {
      font-size: 2.5rem;
  }

  .weather-info {
      font-size: 1rem;
  }
}
